<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="scanner.barcode.android.com.barcodescanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetTableActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="scanner.barcode.android.com.barcodescanner.MainActivity" />
        </activity>
        <activity
            android:name=".AddProductActivity"
            android:label="@string/title_activity_add_product" />
        <activity
            android:name=".timeline_activity"
            android:label="@string/title_activity_timeline_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".content_timeline"
            android:label="@string/title_activity_content_timeline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HandshakeActivity"
            android:label="@string/title_activity_handshake"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransferValidLuggage"
            android:label="@string/title_activity_transfer_valid_luggage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>